extends layout 
block lessons

    .divbar.col-lg-12
        .container 
            .box-lesson
                .box-info 
                    span Yangi 
                    p Professional Node.JS. Noldan e’lonlar saytini yaratamiz
                .box-price 
                    h2 250,000 UZS
            .buy-couse 
                .left-couse 
                    .info-couse
                        span Kurs darajasi
                        br
                        p O'rta 
                    .info-couse 
                        span Video dasrlar
                        br
                        p 58    
                .right-couse 
                    button.btn-1 Xarid qilish
                    br
                    button Savatga qoshish

    .big-img.col-lg-12 
        .couse-img.container 
            img(src="https://i2.wp.com/mohirdev.uz/wp-content/uploads/nodejs.png?w=1280&ssl=1" alt="img")
    .container.col-lg-12 
        .comments
            form(method='POST')  
                input(type="text" name="comment" placeholder='Izoh qoldiring !')
                button(type='Submit') Yuborish 

    .all-comment.col-lg-12 
        .container
            h1 Barcha izohlar 
            .box
               .chat 
                    h5 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, earum.
                    



