<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@100;200;400;600&family=Quicksand:wght@400;600&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="app.css">
    <title>SafarovWebDeveloper</title>
</head>

<body>
    <header>
        <div class="nav">
            <div class="navbar">
                <h3 class="logo">LOGO</h3>
                <ul class="navigation">
                    <li>
                        <a href="/" class="active">Bosh sahifa</a>
                    </li>
                    <li>
                        <a href="#lesson">Kurslar</a>
                    </li>
                    <li>
                        <a href="/">Blog</a>
                    </li>
                    <li>
                        <a href="/">Ustozlar</a>
                    </li>
                </ul>
                <div class="login">
                    <p>Kirish | Ro'yxatdan o'tish</p>
                </div>
            </div>
        </div>
        <div class="section-bar">
            <div class="info">
                <div class="texts">
                    <strong class="txt">
                        <span>DASTURLASHNI</span><br>
                        BIZ BILAN <br>
                        BIRGA <br>
                        O'ZGARNING <br>
                    </strong>
                    <button class="btn">
                        <a href="/">
                            Darslarni boshlash
                        </a>
                    </button>
                </div>

            </div>
        </div>

        <div class="lessons" id='lesson'>

            <div class="box">
                <div class="info-text">
                    <h2>Frontend dastrulashni xozirdan boshlang</h2>
                    <div class="content"></div>
                </div>
                <div class="box-lesson">
                    <div class="boxs">
                        <div class="img">
                            <div class="content">
                                <a href="/lessons">
                                    Ko'rish
                                </a>
                            </div>

                            <img src="https://i.ytimg.com/vi/xcGtfYUfDLo/maxresdefault.jpg" alt="img" width="100%"
                                height="100%">
                        </div>
                        <div class="text">
                            <h2>HTML darslari</h2>
                            <span>
                                Ustoz: Saidbek Arislonov
                            </span>
                            <p>Bepul kurs</p>

                        </div>
                        <div class="bottom-tag">
                            <h3>Darsni boshlash</h3>

                            <ion-icon name="play-circle-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="boxs">
                        <div class="img">
                            <div class="content">
                                <a href="/lessons">
                                    Ko'rish
                                </a>
                            </div>

                            <img src="https://i.ytimg.com/vi/uUULF8ikQoY/maxresdefault.jpg" alt="img" width="100%"
                                height="100%">
                        </div>
                        <div class="text">
                            <h2>CSS darslari</h2>
                            <span>
                                Ustoz: Saidbek Arislonov
                            </span>
                            <p>Bepul kurs</p>

                        </div>
                        <div class="bottom-tag">
                            <h3>Darsni boshlash</h3>

                            <ion-icon name="play-circle-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="boxs">
                        <div class="img">
                            <div class="content">
                                <a href="/lessons">
                                    Ko'rish
                                </a>
                            </div>
                            <img src="https://i0.wp.com/mohirdev.uz/wp-content/uploads/ulugbekk-bootstrap.png?resize=540%2C330&ssl=1"
                                alt="img" width="100%" height="100%">
                        </div>
                        <div class="text">
                            <h2>BOOTSTRAP darslari</h2>
                            <span>
                                Ustoz: Saidbek Arislonov
                            </span>
                            <p>Bepul kurs</p>

                        </div>
                        <div class="bottom-tag">
                            <h3>Darsni boshlash</h3>

                            <ion-icon name="play-circle-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="code-lens">
            <div class="box">
                <div class="info-text">
                    <h2>Samar Badriddinov</h2>
                    <div class="content"></div>
                </div>
                <div class="box-lesson">

                    <div class="boxs">
                        <div class="img">
                            <div class="content">
                                <a href="/lessons">
                                    Ko'rish
                                </a>
                            </div>

                            <img src="https://i1.wp.com/mohirdev.uz/wp-content/uploads/photo1627823443.jpeg?resize=540%2C330&ssl=1" alt="img" width="100%"
                                height="100%">
                        </div>
                        <div class="text">
                            <h2>React JS To’liq Kurs – “From 0 To Hero”. 5ta real loyiha</h2>
                            <span>
                                Ustoz: Samar Badriddinov
                            </span>
                            <p>Pulli kurs</p>

                        </div>
                        <div class="bottom-tag">
                            <h3>300,000 UZS</h3>

                            <ion-icon name="play-circle-outline"></ion-icon>
                        </div>
                    </div>

                    <div class="boxs">
                        <div class="img">
                            <div class="content">
                                <a href="/lessons">
                                    Ko'rish
                                </a>
                            </div>

                            <img src="https://mohirdev.uz/wp-content/uploads/samar-1.png" alt="img" width="100%"
                                height="100%">
                        </div>
                        <div class="text">
                            <h2>JavaScript To’liq Kurs – “From 0 to Hero”</h2>
                            <span>
                                Ustoz: Samar Badriddinov
                            </span>
                            <p>Pulli kurs</p>

                        </div>
                        <div class="bottom-tag">
                            <h3>300,000 UZS</h3>

                            <ion-icon name="play-circle-outline"></ion-icon>
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </header>

    <!-- ION ICON -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>