<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>SafarovWebDeveloper</title>
</head>
<body>
    <header>
        <div class="nav">
            <div class="navbar">
              <h3 class="logo">LOGO</h3>
                <ul class="navigation">
                    <li>
                        <a href="/" class="active">Bosh sahifa</a>
                    </li>
                    <li>
                        <a href="/lessons" >Kurslar</a>
                    </li>
                    <li>
                        <a href="/" >Blog</a>
                    </li>
                    <li>
                        <a href="/" >Ustozlar</a>
                    </li>
                </ul>
                <div class="login">
                    <p>Kirish | Ro'yxatdan o'tish</p>
                </div>
            </div>
        </div>
        <div class="section-bar">
            <div class="info">
                <div class="texts">
                    <strong class="txt">
                        <span>IT</span><br>
                        BILAN <br>
                        HAYOTINGIZNI <br>
                        O'ZGARTIRING <br>
                     </strong>
                     <button class="btn">
                         <a href="/">
                            Darslarni boshlash
                        </a>
                     </button>
                </div>
                
            </div>
        </div>
    </header>
</body>
</html>