*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container {
    width:80%;
    margin: auto;
}
.nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 100;
    background: linear-gradient(to left, rgba(51, 51, 51, 0.65), rgba(17, 17, 17, 0.85));
}
.nav::-webkit-scrollbar-track{
    background: #000;
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    line-height: 30px;
}
.navbar .logo{
    font-size: 2rem;
    color: rgb(209, 209, 209);
    margin-right: 50px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}
.navigation{
    display: flex;
}
.navigation .active{
    border-bottom: 2px solid rgb(255, 255, 255);

}
.navbar ul li a{
    padding: 6px 0;
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
}

.navbar ul li a:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
}

.loginin {
    margin-left: 50%;
    cursor: pointer;
    left: 0;
    top:0;
    font-size: 1.1rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 600;
    width: 250px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.loginin a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.loginin:hover{
    letter-spacing: 1px;
}

.section-bar{
    width:100%;
    height: 90vh;
    background: url(./img/2.jpg);
    /* filter: grayscale(); */
    background-size: cover;
    background-repeat: no-repeat;
}
.info{
    width:90%;
    height:100%;
    margin: auto;
    padding: 10px;
}
.texts{
    padding: 120px;
}
.txt{
    letter-spacing: 5px;
    font-size: 5rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
}

.txt span{
    color: rgb(0, 255, 115);
}
.texts .btn {
    width:260px;
    height:60px;
    border: none;
    font-size: 1.5rem;
    background-color: rgba(255, 235, 205, 0.397);
    margin: 35px 0;
    cursor:pointer;
    transition: .5s;
}

.texts .btn a {
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.texts .btn:hover{
    letter-spacing: 1px;
}
header .lessons {
    width:100%;
    height: 80vh;
    /* margin-bottom: 50vh; */
}
.lessons .box{
    width:80%;
    height: 100%;
    margin: auto;
    text-align: center;
}
.lessons .box .info-text{
    text-align: center;
    margin: 70px 0;
}

.lessons .box .info-text h2{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size: 26px;
}
.lessons .box .info-text .content{
    width:600px;
    height: 3px;
    text-align: center;
    margin: 30px auto;
    background-color: rgb(167, 168, 167);

}

.lessons .box .box-lesson{
    display: flex;
    justify-content: space-around;
}
.lessons .box .boxs{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width:330px;
    height: 460px;
    box-shadow: 0 0 3px rgb(102, 102, 102);
    transition: .4s;
}

.lessons .box .boxs:hover .content{
    opacity: 0.95;
    cursor: pointer;
}
.lessons .box .boxs .img{
    position: relative;
    width: 100%;
    height: 200px;
    transition: .3s;
}

.lessons .box .boxs .text{
    margin: 25px;
    text-align: left;
}

.lessons .box .boxs .content{
    position: absolute;
    width:100%;
    height: 100%;
    background-color:#ff5248;
    opacity: 0;
    transition: opacity .3s;

}

.lessons .box .boxs .content a {
    margin: 70px auto;
    padding: 10px;
    width:100px;
    height: 40px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    transition: .3s;
}

.lessons .box .boxs .content a:hover{
    background-color: #fff;
    color:#ff5248;

}
.lessons .box .boxs .text h2{
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.lessons .box .boxs .text span{
    font-size: 23px;
    font-family: 'Quicksand', sans-serif;
}
.lessons .box .boxs .text p{
    margin: 20px 0;
    color: red;
    font-style: 24px;
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 65px;
}
 .bottom-tag{
    position: relative;
    bottom: 0;
    cursor: pointer;
    width:100%;
    height: 50px;
    border-top: 1px solid rgb(102, 102, 102) ;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    text-decoration: none;
    align-items: center;
    transition: .2s;
    bottom: 0;
}

.bottom-tag h3{
    letter-spacing: 1px ;
    font-size: 1.6rem;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.bottom-tag ion-icon{
    font-size: 2rem;
    color: red;
}

.bottom-tag:hover{
    background-color: rgba(255, 0, 0, 0.678);
    color: #fff;
}

.bottom-tag:hover ion-icon{
    color: #fff;
}

/* Samar badriddinov lessons */
.code-lens {
    width:100%;
    height: 100vh;
}

.code-lens .box{
    width:80%;
    height: 100%;
    margin: auto;
}

.code-lens .box .box-lesson{
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.code-lens .box .info-text {
    width:100%;
    height: 200px;
    padding: 50px 100px;
    margin: auto;
}
.code-lens .box .info-text h2{
    letter-spacing: 2px;
    font-size: 32px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.code-lens .box .info-text .content{
    width:600px;
    height: 4px;
    text-align: center;
    margin: 30px auto;
    background-color: rgb(167, 168, 167);
}

.code-lens .box .boxs{
    width:544px;
    height: 580px;
    box-shadow: 0 0 3px rgb(102, 102, 102);
}

.code-lens .box .boxs .img{
    width:100%;
    height: 345px;
}

.code-lens .box .boxs:hover img .content{
    opacity: 0.95;
    cursor: pointer;
}
.code-lens .box .boxs .img {
    position: relative;
}
.code-lens .box .boxs .img .content{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#ff5248;
    color: #fff;
    opacity: 0;
}

.code-lens .box .boxs .text{
    text-align: left;
    margin: 25px;
}
.code-lens .box .boxs .text h2{
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.code-lens .box .boxs .text span{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.code-lens .box .boxs .text P{
    margin: 10px 0;
    color: red;
    font-style: 24px;
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.big-form .container{
    display: flex;
}
.big-form{
    padding: 150px 0;
    width: 100%;
    height: 100vh;
    background-color: #efefef;
}
.form-register{
    margin: auto;
    width:520px;
    height: 600px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px #5a5f73;
    border-radius: 5px;
}

.form-register h1{
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 2px ;
    color: #47cf73;
    margin-bottom: 30px;
}

.form-register input::placeholder{
    color: #c7c9d3;
}

.form-register input{
    margin: auto;
}
.form-register input:hover{
    border-bottom: 2px solid #47cf73;

}

.form-register input{
    border: none;
    margin-bottom: 45px;
    border-bottom: 2px solid #c7c9d3;
    width:360px;
    height: 50px;
    font-size: 20px;
    outline: none;
    color: #131417;
    font-weight: 400;
    transition: .2s;
}

.form-register button{
    margin-bottom: 10px;
    width: 200px;
    height: 55px;
    cursor: pointer;
    border: 3px solid #aaaebc;
    color: #aaaebc;
    background: transparent;
    font-size: 17px;
    transition: .2s all;
}

.form-register button:hover{
    border: 3px solid #47cf73;
    color: #47cf73;
}

.form-register:nth-child(2){
    display: block;
}

.form-register a{
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    color:#aaaebc ;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    transition: .3s;
}

.form-register a:hover{
    color: #47cf73;
}



.row #carouselExampleIndicators .carousel-indicators button {
    background-color: #47cf73;
    height: 5px;
}
#carouselExampleIndicators {
    margin-bottom: 50px;
}
.carousel-control-next-icon{
    height: 100px;
    color: #47cf73;
    background-color: #47cf73;
}

.carousel-control-prev-icon{
    height: 100px;
    color: #47cf73;
    background-color: #47cf73;
}
.admin {
    width:100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
    background-color: rgba(0, 0, 0, 0.979);
}

.admin .container .form-registor input{
    color: #fff;
    border-radius:50px;
    padding:0 10px;
    font-size: 18px;
    border: none;
    width:500px;
    margin: 20px auto;
    height: 60px;
}

.admin .container .form-registor h1 {
    color: #fff;
    font-size: 42px;
    font-weight: 400;
    margin: 50px 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.admin .container .form-registor{
    text-align: center;
    flex-wrap: wrap;
    margin: 100px auto;
    width: 45%;
    height: 700px;
    border: 5px solid #fff;
    display: block;
    flex-direction: column;
}
.admin .container .form-registor button{
    cursor: pointer;
    width: 300px;
    height: 55px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    border-radius:5px;
    border: none;
    background-color: rgb(167, 168, 167);
}

.user-boxs{
    padding: 120px ;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
}
.user-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #00aced;
    width: 80%;
    margin: 30px;
    height: 120px;
    padding: 10px 50px;
}

.user-box .flex {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px 0;
}

.user-box .flex ion-icon {
    font-size: 32px;
    font-weight: 600;
    margin: 0 10px;
    color: #00aced;
}
.user-box .flex h3{
    font-size: 20px;
    color: rgba(49, 49, 49, 0.979);
}
.user-box .flex h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    margin: 0 10px;
}

.flex a {
    text-decoration: none;
    width: 50px ;
    height: 50px;
    border: none;
    border-radius:5px;
    margin: 20px 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
}

.flex a::nth-child(1){
    background-color: blue;
    color: #fff;
}

.flex a::nth-child(2){
    background-color: red;
    color: #fff;
}










/* FOOTER */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.footer-links a {
    text-decoration: none;
}

/* LESSONS PAGE */

.sub-title {
    width:100%;
    height: 260px;
    border: 3px solid rgb(255, 255, 255);
}

.sub-title .container {
    width:80%;
    height: 65%;
    margin: 90px auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #818a91;
}

.sub-title .container .page-lending{
    padding: 0 30px;
    font-size: 32px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Staatliches', cursive;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}

.sub-title .container ion-icon{
    color: #818a91;
    margin-left: 10px;
}
.sub-title .container .page{
    text-decoration: none;
    color: #000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 50px;
}
.navigation-bar {
    width:100%;
    height: transparent;
}

.navigation-bar .container .kurslar{
    margin-bottom: 0;
    width:100%;
    height: 10vh;
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.navigation-bar .container .lesson-menu{
    display: flex;
    justify-content: space-between;
}
.navigation-bar .container .kurslar span{
    font-weight: 600;
}

.navigation-bar .container .kurslar ion-icon{
    font-size:28px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.navigation-bar .container .menu-left ul li a{
    margin: 20px 0;
    text-decoration: none;
    color: #1F2949;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    transition: .3s;
}

.navigation-bar .container .menu-left ul li{
    margin: 15px 0;
}
.navigation-bar .container .menu-left ul li a:hover{
    color: #6081ee ;
}

.navigation-bar .container .menu-left ul li.kategory{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.navigation-bar .container .menu-left ul li.kategory ion-icon{
    font-size: 32px;
    margin-left: 10px;
}

.navigation-bar .container .menu-rigth .courses {
    width: 100%;
    height: transparent;
}
.navigation-bar .container .menu-rigth .courses .cource{

    margin:0 0 20px 10px;
    display: flex;
    width: 100%;
    height: 100%;
}

.navigation-bar .container .menu-rigth .courses .cource .img-info{
    transition: .3s;
    width: 270px;
    height: 270px;
    overflow: hidden;
}


.courses .cource .info{
    display: flex;
    justify-content: space-between;
}

.courses .cource .info .malumotlar{
    margin-bottom: 50px;
    display: block;
    margin: 0;
    top: 0;
    left: 0;
    padding: 5px 10px;
    width: 326px;
}
.cource .info .malumotlar span{
    background-color: #5CC523;
    color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.courses .cource .info .malumotlar a{
    text-decoration: none;
    margin: 50px 0;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    transition: all .3s;
    cursor: pointer;
    color: #000;
}

.courses .cource .info .malumotlar a:hover{
    color: #6081ee ;

}

.courses .cource .info .malumotlar .author-couse{
    font-size: 22px;
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    align-items: center;
    margin: 50px 0 0 0;
}
.courses .cource .info .malumotlar .author-couse img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.courses .cource .info .malumotlar .author-couse a{
    font-size: 16px;
}

.courses .cource .info .price{
    flex-direction: column;
    display: block;
    align-items: center;
    text-align: center;
    padding: 10px 5px;
}
.courses .cource .info .price button{
    width: 156px;
    height: 45px;
    margin: 10px 0;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    border: none;
    border: 2px solid #fff;
    background-color: #0086e4;
    color: #e8f0fe;
    border-radius:5px;
    transition: all .3s;
}
.courses .cource .info .price button:hover{
    background-color: transparent;
    color: #0086e4;
    border:2px solid #0086e4;
}

/* BexruzXolmominov */
.divbar{
    width: 100%;
    height: 40vh;
    border: 5px solid rgb(255, 255, 255);
    
}
.divbar .container{
    width: 100%;
    height: 70%;
    margin-top:100px;
}
.divbar .container .box-lesson{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding:10px;
}

.divbar .container .box-lesson .box-info p{
    font-size: 30px;
    line-height: 43px;
    color:rgb(31, 41, 73);
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.divbar .container .box-lesson .box-info span{
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    padding: 5px;
    background-color: #5CC523;
}
.divbar .container .box-lesson .box-price h2{
    margin-top: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.divbar .container .buy-couse{
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.divbar .container .buy-couse .left-couse{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 100%;
}

.cource .img-info:hover .imgs img{
    filter: blur(0.1px);
    width: 344px;
    height: 300px;
}
.cource .img-info .imgs img{
    width: 300px;
    height: 290px;
    filter: grayscale(1px);
    transition: .5s;
    vertical-align: middle;
    border-style: none
}

.cource .price button a{
    text-decoration: none;
    color: #fff;
}
.cource .price button:hover a{
    color:#0086e4 ;
}
.divbar .container .buy-couse .left-couse span{
    font-size: 18px;
    padding-bottom: 5px ;
    color: #797c7f;
    letter-spacing: .9px;
}

.divbar .container .buy-couse .left-couse p{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top:3px ;
}
.divbar .container .buy-couse .right-couse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;

}
.divbar .container .buy-couse .right-couse button{
    width: 200px;
    height: 50px;
    border: 2px solid #0086e4;
    border-radius:5px;
    font-size: 18px;
    font-weight: 500;
    background-color: #0086e4;
    color: #ffff;
}
.divbar .container .buy-couse .right-couse .btn-1{
    text-decoration: none;
    background-color: transparent;
    color: #0086e4;
    transition: .3s;
}
.divbar .container .buy-couse .right-couse .btn-1:hover{
    background-color: #0086e4;
    color: #fff;
}
.comments{
    margin-top: 30px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
}
.comments form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.comments form input{
    margin-right: 10px;
    padding: 0 20px;
    width: 90%;
    height: 90%;
    border-radius:50px;
    border: 1px solid #797c7f;
    font-size: 19px;
}

.comments form button{
    width: 100px;
    height: 50px;
    background-color: #0086e4;
    border-radius:5px;
    color: #fff;
    border: 1px solid #fff;
    transition: all .3;
    font-weight: 500;
}
.comments form button:hover{
    background-color: #fdfdfd;
    color: #0086e4;
    border: 1px solid #0086e4;
}

.all-comment{
    width: 100%;
    height: transparent;
    margin: 50px 0;
}


.all-comment h1{
    text-align: center;
}
.all-comment .box {
    width: 90%;
    padding: 20px;
    height: transparent;
}
.all-comment .box h3{
    font-size: 32px;
    letter-spacing: 2px ;
}
.all-comment .box h4{
    font-size: 18px;
}